<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{ static css/styles.css }">
    <title>base</title>
</head>
<body>
<header>
    <div class="container">
        <b>Studenterskipnaden i Fredrikstad</b>
    <nav>
        <ul>
            <li><a href="{% url 'logout' %}">home</a></li>
            <li><a href="{% url 'login' %}">login</a></li>
        </ul>
    </nav>
    </div>
</header>



</body>
{% block content %}{% endblock %}
</html>
